.DS_Store
Sushi-Snatch2.0.xcodeproj/project.xcworkspace/xcuserdata/philipsong.xcuserdatad/UserInterfaceState.xcuserstate
Sushi-Snatch2.0.xcodeproj/project.xcworkspace/xcuserdata/melvinlundqvist.xcuserdatad/UserInterfaceState.xcuserstate
